p{
font-size:20px;
color:black;
font-family:sans-serif;
}
h2{
font-size:30px;
color: chartreuse;
}
body{
background-color:darkviolet;
}
h1{
color:aqua;
}
#turf{
width:960px;
height:1200px;
}
img{
width:1100;
height:515;
}
#bo{
width:160px;
height:219px;
}
#sa{
width:250px;
height:250px;
}
